*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --var-bg-all: url(./images/greyfon.jpg) no-repeat center fixed;
  --var-bg-button: blue;
}

body {
  background: var(--var-bg-all);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.width {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}